:root {
  --color-white: #fff;
  --color-black: #1c1c1c;

  --color-dark-blue: #0e1649;
  --color-orange: #ff9f00;
  --color-orange-link: #ff7748;

  --font-sub-title: 16px;
  --font-title-small: 24px;
  --font-text: 18px;

  --spacing-small: 16px;
  --spacing-big: 40px;
}
/* //////////////UTILITIES CLASSES/////////// */
.spacing-top-small {
  margin-top: 16px;
}
.spacing-bottom-small {
  margin-bottom: 16px;
}
.spacing-top-big {
  margin-top: 40px;
}
.spacing-bottom-big {
  margin-bottom: 40px;
}
.spacing-top-huge {
  margin-top: 64px;
}
.spacing-bottom-huge {
  margin-bottom: 64px;
}
